<div>
  <p-card header="Estudiante">
    <form (ngSubmit)="submit()" [formGroup]="fg">

      <div class="field">
        <label for="name">Nombre</label>
        <input id="name" pInputText type="text" class="inputfield w-full" formControlName="name">
      </div>

      <div class="field">
        <label for="fatherLastname">Apellido Paterno</label>
        <input id="fatherLastname" pInputText type="text" class="inputfield w-full" formControlName="fatherLastname">
      </div>

      <div class="field">
        <label for="motherLastname">Apellido Materno</label>
        <input id="motherLastname" pInputText type="text" class="inputfield w-full" formControlName="motherLastname">
      </div>

      <div class="field">
        <label for="dni">DNI</label>
        <input id="dni" pInputText type="text" class="inputfield w-full" formControlName="dni" [maxLength]="8">
      </div>

      <div class="field">
        <label for="email">Correo</label>
        <input id="email" pInputText type="email" class="inputfield w-full" formControlName="email">
      </div>

      <div class="field">
        <p-dropdown id="career" class="w-full inputfield"
                    [options]="career"
                    placeholder="Selecciona una carrera"
                    optionLabel="name"
                    optionValue="code"
                    formControlName="career"></p-dropdown>
      </div>


      <button pButton pRipple type="submit" label="Guardar" icon="pi pi-save" [disabled]="fg.invalid"></button>
      <button pButton pRipple type="button" label="Cancelar" icon="pi pi-times" class="p-button-raised p-button-danger" (click)="clear()"></button>
    </form>

  </p-card>
</div>
