<div class="grid">
  <div class="col-12 md:col-6 lg:col-3" *ngFor="let monitoAssing of monitorAssingList">
    <p-card header="{{monitoAssing.monitor.name}}">
      <h4 class="mb-2">Cantidad de alumnos: {{monitoAssing.amount}}</h4>
      <h4 class="mb-2">Semestre: {{monitoAssing.semestre}} </h4>
      <h4 class="mb-2">Carera: {{monitoAssing.career.name}}</h4>
      <ng-template pTemplate="footer">
        <p-button label="Ver Estudiantes" icon="pi pi-check" (onClick)="getCodeMonitor(monitoAssing.monitor.code)"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
