<div style="margin-bottom: 20px">
  <p-toolbar>
    <span>Asignacion de estudiante con su tutor</span>
  </p-toolbar>

  <p-card>
    <ng-template pTemplate="content">
      <form (ngSubmit)="submit()">
        <div class="grid">
          <div class="col">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Carrera</label>
              <div class="col-12 md:col-10">
                <p-dropdown [options]="career"
                            [(ngModel)]="selectedCareer"
                            [ngModelOptions]="{standalone: true}"
                            optionLabel="name"
                            optionValue="code"
                            class="inputfield w-full"
                            (onChange)="getMonitor($event.value)"
                            placeholder="Selecionar una carrera"
                            [dropdownIcon]="isLoadingCareer? 'pi pi-spin pi-spinner':'pi pi-angle-down'"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Tutor</label>
              <div class="col-12 md:col-10">
                <p-dropdown [options]="monitor" optionLabel="name"
                            [(ngModel)]="selectedMonitor"
                            [ngModelOptions]="{standalone: true}"
                            optionValue="code" class="inputfield w-full"
                            [dropdownIcon]="isLoadingMonitor? 'pi pi-spin pi-spinner':'pi pi-angle-down'"
                            placeholder="Selecionar un tutor"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="field grid">
              <label class="col-12 mb-2 md:col-2 md:mb-0">Semestre</label>
              <div class="col-12 md:col-10">
                <p-dropdown [options]="semestre"
                            [(ngModel)]="selectedSemestre"
                            [ngModelOptions]="{standalone: true}"
                            optionLabel="name"
                            optionValue="code" class="inputfield w-full"
                            [dropdownIcon]="'pi pi-angle-down'"
                            placeholder="Selecionar un semestre"></p-dropdown>
              </div>
            </div>
          </div>

          <div class="col-12">
            <div class="field grid">
              <div class="col-12">
                <p-pickList [source]="studentNotAssing"
                            [target]="studentAssing"
                            sourceHeader="Alunmos sin asignar"
                            targetHeader="Alunmos a asignar"
                            [dragdrop]="true"
                            [responsive]="true"
                            [sourceStyle]="{'height':'20rem'}"
                            [targetStyle]="{'height':'20rem'}"
                            [(ngModel)]="studentAssing"
                            [ngModelOptions]="{standalone: true}"
                            ngDefaultControl>
                  <ng-template let-student pTemplate="item">
                    <div class="product-item">
                      <div class="image-container">
                        <img
                          src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png"
                          alt="student" class="product-image"/>
                      </div>
                      <div class="product-list-detail">
                        <h4 class="mb-2">{{student.fatherLastname}} {{student.motherLastname}}, {{student.name}}</h4>
                        <i class="pi pi-id-card product-category-icon" aria-hidden="true"></i>
                        <span class="product-category">{{student.email}}</span>
                      </div>
                      <div class="product-list-action">
                        <h5 class="mb-2">{{student.dni}}</h5>
                      </div>
                    </div>
                  </ng-template>

                </p-pickList>
              </div>
            </div>
          </div>
        </div>

        <button pButton pRipple type="submit" label="Guardar" icon="pi pi-save" [loading]="isLoading"></button>
      </form>
    </ng-template>
  </p-card>
</div>
