.contenedor {
  margin: auto;
  display: table;
}

img {
  margin: 10px auto;
  display: block;
}


h1 {
  position: relative;
  float: left;
  color: #000;
  font-size: 2em;
}

h1 span {
  position: absolute;
  right: 0;
  width: 0;
  background: #fff;
  border-left: 4px solid #000;
  animation: escribir 1s steps(15) infinite alternate;
}

@keyframes escribir {
  from {
    width: 110%
  }
  to {
    width: 0
  }
}

