<div class="container">
  <mat-toolbar>
    <span>Registrar estudiante</span>
  </mat-toolbar>

  <mat-card style="margin-top: 10px" class="mat-elevation-z8">
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-grid-list cols="4" rowHeight="70px">
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="fill" class="ancho">
            <mat-label>Elija una carrera</mat-label>
            <mat-select [disabled]="isLoadingCareer" required (selectionChange)="getTutor($event.value)"
                        formControlName="career">
              <mat-option *ngFor="let career of careerList" [value]="career.CODE">
                {{career.NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="3" rowspan="5">
          <img src="https://cdn.pixabay.com/photo/2017/08/16/00/29/add-person-2646097_960_720.png" alt="Imagen Crear"
               style="height: calc(100% - 70px); ">
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="fill" class="ancho">
            <mat-label>Elija un tutor</mat-label>
            <mat-select [disabled]="isLoadingTutor" required formControlName="tutor">
              <mat-option *ngFor="let tutor of tutorList" [value]="tutor.CODE">
                {{tutor.NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="fill" class="ancho">
            <mat-label>Elija a los estudiantes</mat-label>
            <mat-select [disabled]=" isLoadingStudent && isLoadingCareer" required formControlName="student">
              <mat-option *ngFor="let student of studentList" [value]="student.ID_STUDENT">
                {{student.FATHER_LASTNAME}} {{student.MOTHER_LASTNAME}}, {{student.NAME}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <mat-form-field appearance="fill" class="ancho">
            <mat-label>Elije un semestre</mat-label>
            <mat-select required formControlName="semestre">
              <mat-option [value]="1">1 Semestre</mat-option>
              <mat-option [value]="2">2 Semestre</mat-option>
              <mat-option [value]="3">3 Semestre</mat-option>
              <mat-option [value]="4">4 Semestre</mat-option>
              <mat-option [value]="5">5 Semestre</mat-option>
              <mat-option [value]="6">6 Semestre</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
          <button mat-raised-button type="submit" color="primary" style="margin-right: 20px" [disabled]="form.invalid">
            Guardar
          </button>
          <button mat-raised-button color="accent" type="button" routerLink="/assing">Volver</button>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </mat-card>

</div>
