html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

.spacer {
  flex: 1 1 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

table {
  width: 100%;
}

.table-size {
  margin-top: 20px;
  height: 530px;
  max-width: 100%;
  overflow: auto;
}

.navbar {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
}

mat-header-cell, mat-cell {
  justify-content: center;
}
