html, body {
  height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif, “Apple Color Emoji”, “Segoe UI Emoji”, “Segoe UI Symbol”;
}

button.ui-button {
  margin-right: .5rem;
}

.container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
}

a {
  text-decoration: none;
}

.table-size {
  margin-top: 20px;
  height: 530px;
  max-width: 100%;
  overflow: auto;
}

table {
  width: 100%;
}
